/vendor 
/node_modules 
.env 
.env.* 
/public/storage 
/storage/*.key 
/storage/logs 
/storage/framework 
/bootstrap/cache 
/database/*.sqlite 
/.phpunit.cache 
/.phpunit.result.cache 
Homestead.yaml 
Homestead.json 


# Syamail: ignore dev and docs directories
/.kilocode
/.vscode
/docs
